[submodule "gateway"]
	path = gateway
	url = https://github.com/sftCommunity/gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/sftCommunity/products-microservice.git
